.bg-wrapper h1, h2, h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0 25px rgba(0,0,0,0.3);
  color: white;
  letter-spacing: -1px;
  line-height: 1;
  margin: 0;
  font-weight: 500;
}

.bg-wrapper h1 {
  font-size: 8em;
}
.bg-wrapper h2 {
  font-size: 5em;  
}
.bg-wrapper h3 {
  font-size: 2.5em;
}

.bg-wrapper::before {
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header{
  width: 100%;
  height: 50px;
}
.header .row{
  justify-content: center;
}
.header #update-btn{
  background: none;
  border: none;
}
.header .toast{
  width: 400px;
  margin-top: 10px;
}
.header .toast-body {
  text-align: center;
  padding: .75rem;
}
.header .col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  width: 400px;
}
.header .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.bottom-left h2{
  color: #0080ff;
  font-family: "Nunito", Sans-serif;
  font-size: 35px;
  line-height: 1.1em;
  letter-spacing: -1.4px;
  font-weight: 600;
  margin: 0 5px;
}
.bottom-left a{
    font-size: 20px;
    margin: 2px 0px;
    color: black;
    text-decoration: none;
    background-color: none;
}
.logo-counter{
    display: inline-flex;
}
.logo-counter img{
  margin: 5px;
}

.tab-counter button{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0 25px rgba(0,0,0,0.3);
  font-size: 1.2em;
}

.top-right {
  width: 100vw;
  position: fixed;
  top: 2vh;
  right: 2vh;
}

.bottom-third {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block-text h1, h2 {
  display: inline;
}

.quote {
  font-family: "Helvetica Neue";
  color: white;
  font-size: 2vw;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
}

#quote-text {
  font-size: 2vw;
}

#location {
  margin-top: 5px
}

.weather {
  font-family: "Helvetica Neue";
  color: white;
  font-size: 2.5vw;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
}

/* Settings */
.bottom-right {
  position: fixed;
  bottom: 2vh;
  right: 2vh;
}

#settings {
  color: #0080ff;
  font-family: "Nunito", Sans-serif;
  font-size: 1vw;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0 0 0 5px;
  position: fixed;
  bottom: 2vh;
}
#settings button{
  color: white;
  font-family: "Nunito", Sans-serif;
  background: none;
  border: none;
  margin: 0.5rem;
}
#settings button:hover, #settings button:active{
  color:  #0080ff;
  border: none;
}
#settings .dropdown-menu{
  color: #fff;
  text-decoration: none;
  background: none;
  border: none;
}
.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
#settings .dropdown-item.hover, .dropdown-item:hover {
  color: lightgray;
  text-decoration: none;
  background:none;
}
#settings .dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background: none;
}
#settings .dropdown-item{
  color: white;
  font-size: small;
  padding: 0.25rem 1rem;
}
.dropdown-toggle::after {
  display: none;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
.fa {
  position: relative;
  padding-right: 3px;
}
.modal-content{
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: none;
}
.modal-title{
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  margin: 5px 0px;
  font-size: 3vw;
  font-weight: 600;
}
.modal-input{
  text-align: center;
  margin: 5px 0px;
}
.modal-input input{
  width: 300px;
  height: 40px;
  background: none;
  color: #fff;
  border: none;
  border-bottom: 1px solid white;
}
.modal-input input:hover, .modal-input input:focus {
  width: 300px;
  height: 40px;
  background: none;
  color: #fff;
  border: none;
  border-bottom: 1px solid white;
  box-shadow: none;
}
.modal-btn{
  text-align: center;
}
.modal-button{
  margin: 5px 0px;
  font-size: larger;
  font-weight: 600;
  color: white;
  background: none;
  background-color:none;
  border:none;
  border-radius: 5px;
  padding: 5px 10px;
}

.search{
  text-align: center;
  position: fixed;
  top: 75%;
  width: 100vw;
}
.search .container{
    display: inline-flex;
}

.search svg{
    color: black;
    overflow: hidden;
    vertical-align: middle;
    margin: 15px 15px 15px 0px;
}
.search form{
  display: inline-flex;
}
#searchSubmit{
    vertical-align: middle;
    margin: 5px;
}

/*google-kind bar*/
.searchbar{
  background: white;
  opacity: 0.6;
  overflow: visible;
  width: 270px;
  border: 1px solid lightgray;
  border-radius: 25px;
}
.searchbar input{
  border: none;
  outline: none;
}
.searchbar input:hover, .search #q:active, .search #q:focus{
  background: white;
  opacity: 1;
}

.ReactModal__Overlay, .bg{
  background-image: url(https://source.unsplash.com/collection/10046061/2560x1600/daily?);
  background-size: cover;
}

.ReactModal__Content.ReactModal__Content--after-open{
  background: none;
  border: none;
  width: 100vw;
  height: 100vh;
}
.modal-content{
  background: none;
  border: none;
  width: fit-content;
  background-color: rgba(92, 92, 92, 0.4);
}

#update-btn{
  padding: 0;
  margin: 10px;
}


/*Form trial*/

/*form styles*/
#msform {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ee0979;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #ee0979;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
  width: 100px;
  background: #C5C5F1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}